*{
    margin: 0;
    padding: 0;
}
#titlebtn{
    background-color: green;
    height: 50px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
}
body{
    height: 130px;
    width: 200px;   
}
.btn{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
    height: 50px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10x;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.bdr{
    height: 40px;
    width: 90%;
    border: 1px solid black;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 30px;
}
label{
    margin-left: 10px;
    font-weight: bolder;
    font-size: 12px;
}
